# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Environments
venv/
.venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Project data and models
data/raw/
models/

# OS / editor
.DS_Store
.vscode/
.idea/
